.cardapio {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.item span {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

button:hover {
  background-color: #45a049;
}

#valorTotal {
  margin-top: 20px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label {
  font-weight: bold;
}

select {
  margin-top: 5px;
}

#pixContainer, #trocoContainer {
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#pixContainer p, #trocoContainer p {
  margin: 5px 0;
}

#formaPagamento{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#qrcode {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

#troco {
  padding: 5px;
  width: 100%;
}

button#enviarPedido {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#enviarPedido:hover {
  background-color: #000000;
}
